@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    transition: 400ms linear !important;
}

body {
    background-color: var(--bg-fbfbfb);
}

:root {
    --font-family-rubik: "Rubik", sans-serif;
    --font-size-50: 50px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-25: 25px;
    --font-size-35: 35px;
    --font-weight-700: 700;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --line-height-70: 70px;
    --line-height-18: 18px;
    --line-height-30: 30px;
    --line-height-50: 50px;
    --line-height-23: 23px;
    --line-height-25: 25px;
    --blue-primary: #0B132A;
    --light-blue-secondry: #4F5665;
    --red-color-pure: #F53838;
    --red-color-light: #F53855;
    --white-color: #ffffff;
    --border-color-ee2: #EEEFF2;
    --bg-fbfbfb: #FBFBFB;
    --border-dd: #DDDDDD;
    --color-f8f8f8: #F8F8F8;
    --color-AFB5C0: #AFB5C0;
}

.ff-rubik {
    font-family: var(--font-family-rubik);
}

.font-size-50 {
    font-size: var(--font-size-50);
}

.font-size-14 {
    font-size: var(--font-size-14);
}

.font-size-16 {
    font-size: var(--font-size-16);
}

.font-size-18 {
    font-size: var(--font-size-18);
}

.font-size-25 {
    font-size: var(--font-size-25);
}

.font-size-35 {
    font-size: var(--font-size-35);
}

.font-weight-700 {
    font-weight: var(--font-weight-700);
}

.font-weight-400 {
    font-weight: var(--font-weight-400);
}

.font-weight-500 {
    font-weight: var(--font-weight-500);
}

.font-weight-600 {
    font-weight: var(--font-weight-600);
}

.line-height-70 {
    line-height: var(--line-height-70);
}

.line-height-18 {
    line-height: var(--line-height-18);
}

.line-height-30 {
    line-height: var(--line-height-30);
}

.line-height-50 {
    line-height: var(--line-height-50);
}

.line-height-23 {
    line-height: var(--line-height-23);
}

.line-height-25 {
    line-height: var(--line-height-25);
}

.blue-primary {
    color: var(--blue-primary);
}

.light-blue-secondry {
    color: var(--light-blue-secondry);
}

.red-color-light {
    color: var(--red-color-light);
}

.bg-white {
    background-color: var(--white-color);
}

.white-color {
    color: var(--white-color);
}

h2 {
    margin-bottom: unset;
}

.list a {
    text-decoration: none;
}

.list {
    cursor: pointer;
}

ul {
    margin-bottom: unset;
    padding-left: unset;
}

.sign-in-btn {
    width: 150px;
    height: 45px;
    border: 1px solid var(--red-color-light);
    border-radius: 50px;
    background-color: var(--white-color);
}

.sign-in-btn:hover {
    background-color: var(--red-color-pure) !important;
    color: var(--white-color);
    border: none;
}

.list:hover {
    color: var(--blue-primary);
}

.pointer {
    cursor: pointer;
}

.gap-38 {
    gap: 38px;
}

.nav {
    padding: 20px 0px;
    z-index: 1;
}

.pt-160 {
    padding-top: 160px;
}

.paragraph-section2 {
    padding-top: 20px;
}

.get-button {
    width: 250px;
    height: 60px;
    background-color: var(--red-color-pure);
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    box-shadow: 9px 20px 22px -3px #f5383859;
}

.get-button:hover {
    background-color: var(--white-color);
    color: var(--red-color-pure);
}

.navbar-items {
    width: 70%;
}

.logo {
    width: 30%;
}

.menubar {
    width: 40px;
    height: 35px;
}

.menubar span {
    width: 100%;
    height: 7px;
    background-color: var(--blue-primary);
    border-radius: 10px;
}

.main-box {
    padding: 42px 91px;
    box-shadow: 0px 22px 31px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--white-color);
}

.line {
    height: 100%;
    width: 2%;
    border: 1px solid var(--light-blue-secondry);
}

.user-card {
    border: 2px solid var(--border-color-ee2);
    padding: 25px 0px;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.user-svg {
    cursor: pointer;
}

.section2 {
    margin-top: 103px;
}

.server-card {
    border: none;
}

.mt-80 {
    margin-top: 80px;
}

.section3-heading {
    max-width: 383px;
    margin-top: 80px;
}

.gap-15 {
    gap: 15px;
}

.pb-120 {
    padding-bottom: 120px;
}

.choose {
    margin-top: 80px;
}

.section3-paragraph {
    margin-top: 31px;
    margin-bottom: 20px;
}

.bg-fb {
    background-color: var(--bg-fbfbfb);
}

.lets {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.plan-box {
    padding: 0px 70px;
    padding-top: 70px;
    padding-bottom: 50px;
    border: 2px solid var(--border-dd);
    border-radius: 10px;
    height: 760px;
}

.plan-box:hover {
    border: 2px solid var(--red-color-pure);
}

.select {
    width: 177px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid var(--red-color-pure);
    color: var(--red-color-pure);
    background-color: var(--white-color);
}

.plan-box:hover .select {
    background-color: var(--red-color-pure);
    color: var(--white-color);
    border: none;
    box-shadow: 0px 4px 20px var(--red-color-pure);
}

.global-network {
    max-width: 383px;
}

.section6 {
    margin-top: 150px;
}

.section7 {
    margin-top: 150px;
}

.see {
    margin-top: 20px;
    max-width: 555px;
}

.netflix-card {
    gap: 40px;
    margin-top: 50px;
}

.sec9-heading {
    max-width: 447px;
    margin-top: 57px;
}

.sec9-para {
    max-width: 555px;
    margin-top: 20px;
}

.slick-box {
    padding: 20px 13px;
    border: 2px solid var(--border-color-ee2);
    max-width: 400px;
    min-height: 230px;
    border-radius: 10px;
}

.robert {
    width: 112px;
}

.paragraph {
    margin-top: 20px;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 40px;
}

.over-slider {
    z-index: 2;
}

.slick-list {
    overflow: visible;
    position: relative;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: var(--bg-fbfbfb);
}

.slick-dots li button {
    text-indent: -9999px;
    overflow: hidden;
}

.slick-dots li button {
    content: url(../images/left.png);
}

.show {
    display: flex !important;
}

.next {
    width: 60px;
    height: 60px;
    background-color: var(--red-color-pure);
    border: none;
    border-radius: 50%;
}

.prev {
    width: 60px;
    height: 60px;
    border: 2px solid var(--red-color-pure);
    border-radius: 50%;
    background-color: var(--white-color);
}

.slick-dots {
    position: relative !important;
    z-index: 1;
    display: flex;
    justify-content: flex-start !important;
    width: 100%;
    bottom: -80px !important;
}

.btn-box {
    bottom: 60px;
    position: relative;
}

.subscribe-box {
    margin-top: 57px;
    background-color: var(--white-color);
    padding: 55px 70px;
    box-shadow: 0px 19px 34px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.subscribe-h2 {
    max-width: 371px;
}

.subscribe-btn {
    width: 250px;
    height: 60px;
    background-color: var(--red-color-pure);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 19px 52px -3px var(--red-color-pure);
}

.subscribe-btn:hover {
    background-color: var(--white-color);
    color: var(--red-color-pure);
}

.mt-65 {
    margin-top: 65px;
}

.footer-p {
    margin-top: 20px;
    max-width: 340px;
}

.face-twit {
    margin-top: 30px;
}

.copywrite {
    color: var(--color-AFB5C0);
    margin-top: 30px;
}

.p-list {
    margin-bottom: 20px;
}

.product {
    padding-bottom: 20px;
}

.slick-dots li {
    background-color: var(--color-AFB5C0);
    border-radius: 50%;
}

.slick-dots .slick-active {
    background-color: var(--red-color-pure);
    width: 45px;
    border-radius: 10px;
}

.slick-slide.slick-current .slick-box {
    border: 2px solid red;
    box-shadow: 0px 19px 40.833px 0px rgba(59, 104, 255, 0.10);
    ;
}

.slick-dotted.slick-slider {
    margin-bottom: 100px;
}

@media (max-width:1200px) {
    .navbar-items {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly !important;
    }

    .ul-items {
        flex-direction: column;
    }

    .menubar {
        position: relative;
        z-index: 1;
        bottom: 2px;
    }

    .sign-in {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    .user-card {
        border: none;
    }

    .user-card2 {
        padding-left: 15px;
    }

    .plan-box {
        padding: 0px 20px;
        align-items: center;
        margin-bottom: 45px;
    }

    .sec2-pbox {
        padding-bottom: 40px;
    }
}

@media (max-width:768px) {
    .choose {
        margin-top: unset;
    }

    .pb-120 {
        padding-bottom: 42px;
    }

    .section6 {
        margin-top: 40px;
    }

    .section7 {
        margin-top: 50px;
    }

    .subscribe-p {
        margin-bottom: 34px;
    }

    .copywrite {
        margin-bottom: 30px;
    }
}

@media (max-width:576px) {
    .over-slider {
        z-index: 2;
    }

    .slick-list {
        overflow: visible;
        padding: 0 20% 0 0;
        position: relative;
    }

    .slick-list::after {
        content: ' ';
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 4000px;
        right: 100%;
        background-color: white;
    }

    h2.heading-section1 {
        font-size: var(--font-size-25);
        line-height: var(--line-height-50);
        margin-top: 10px;
    }

    .main-box {
        position: relative;
        bottom: 55px;
    }

    .section3-heading {
        margin-top: 45px;
    }

    .pb-120 {
        padding-bottom: unset;
    }

    .plan-box {
        height: 610px;
    }

    .section6 {
        margin-top: 20px;
    }

    .section7 {
        margin-top: 20px;
    }

    .subscribe-h2 {
        font-size: var(--font-size-18);
        line-height: var(--line-height-23);
    }

    .subscribe-p {
        margin-bottom: 23px;
    }

    .copywrite {
        margin-bottom: 20px;
    }

    .netflix-card {
        flex-direction: column;
        width: 100%;
    }
}