@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    transition: 400ms linear !important;
}

body {
    background-color: #FBFBFB;
}

:root {
    --font-family-rubik: "Rubik", sans-serif;
    --font-size-50: 50px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-25: 25px;
    --font-size-35: 35px;
    --font-weight-700: 700;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --line-height-70: 70px;
    --line-height-18: 18px;
    --line-height-30: 30px;
    --line-height-50: 50px;
    --line-height-23: 23px;
    --line-height-25: 25px;
    --blue-primary: #0B132A;
    --light-blue-secondry: #4F5665;
    --red-color-pure: #F53838;
    --red-color-light: #F53855;
    --white-color: #ffffff;
    --border-color-ee2: #EEEFF2;
}

.ff-rubik {
    font-family: var(--font-family-rubik);
}

.font-size-50 {
    font-size: var(--font-size-50);
}

.font-size-14 {
    font-size: var(--font-size-14);
}

.font-size-16 {
    font-size: var(--font-size-16);
}

.font-size-18 {
    font-size: var(--font-size-18);
}

.font-size-25 {
    font-size: var(--font-size-25);
}

.font-size-35 {
    font-size: var(--font-size-35);
}

.font-weight-700 {
    font-weight: var(--font-weight-700);
}

.font-weight-400 {
    font-weight: var(--font-weight-400);
}

.font-weight-500 {
    font-weight: var(--font-weight-500);
}

.font-weight-600 {
    font-weight: var(--font-weight-600);
}

.line-height-70 {
    line-height: var(--line-height-70);
}

.line-height-18 {
    line-height: var(--line-height-18);
}

.line-height-30 {
    line-height: var(--line-height-30);
}

.line-height-50 {
    line-height: var(--line-height-50);
}

.line-height-23 {
    line-height: var(--line-height-23);
}

.line-height-25 {
    line-height: var(--line-height-25);
}

.blue-primary {
    color: var(--blue-primary);
}

.light-blue-secondry {
    color: var(--light-blue-secondry);
}

.red-color-light {
    color: var(--red-color-light);
}

.bg-white {
    background-color: var(--white-color);
}

.white-color {
    color: var(--white-color);
}

h2 {
    margin-bottom: unset;
}

.list a {
    text-decoration: none;
}

ul {
    margin-bottom: unset;
    padding-left: unset;
}

.sign-in-btn {
    width: 150px;
    height: 45px;
    border: 1px solid var(--red-color-light);
    border-radius: 50px;
}

.gap-38 {
    gap: 38px;
}

.nav {
    padding: 20px 0px;
}

.pt-160 {
    padding-top: 160px;
}

.paragraph-section2 {
    padding-top: 20px;
}

.get-button {
    width: 250px;
    height: 60px;
    background-color: var(--red-color-pure);
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    box-shadow: 9px 20px 22px -3px #f5383859;
}

.get-button:hover {
    background-color: var(--white-color);
    color: var(--red-color-pure);
}

.navbar-items {
    width: 70%;
}

.logo {
    width: 30%;
}

.menubar {
    width: 40px;
    height: 35px;
}

.menubar span {
    width: 100%;
    height: 7px;
    background-color: var(--blue-primary);
    border-radius: 10px;
}

.main-box {
    padding: 42px 91px;
    box-shadow: 0px 22px 31px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--white-color);
}

.line {
    height: 100%;
    width: 2%;
    border: 1px solid var(--light-blue-secondry);
}

.user-card {
    border: 2px solid var(--border-color-ee2);
    padding: 25px 0px;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.section2 {
    margin-top: 103px;
}

.server-card {
    border: none;
}

.mt-80 {
    margin-top: 80px;
}

.section3-heading {
    max-width: 383px;
    margin-top: 80px;
}

.gap-15 {
    gap: 15px;
}

.pb-120 {
    padding-bottom: 120px;
}

.choose {
    margin-top: 80px;
}

.section3-paragraph {
    margin-top: 31px;
    margin-bottom: 20px;
}

.lets {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.show {
    display: flex !important;
}

@media (max-width:1200px) {
    .navbar-items {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly !important;
    }

    .ul-items {
        flex-direction: column;
    }

    .menubar {
        position: relative;
        z-index: 1;
    }

    .sign-in {
        flex-direction: column;
    }
}